# Minimal requirements for D2 from here: https://colab.research.google.com/drive/16jcaJoc6bCFAQ96jDe2HwtXj7BMD_-m5#forceEdit=true&sandboxMode=true&scrollTo=wlqXIXXhW8dA
# torch==1.4+cu100 torchvision==0.5+cu100 cython pyyaml==5.1 cocoapi detectron2

# Following are not satisfied by standard PyTorch container:
# PyCoco 
-e git+https://github.com/philferriere/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

# install d2 from FB page
https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/detectron2-0.1%2Bcu101-cp36-cp36m-linux_x86_64.whl


######Note:
# Sagemaker PyTorch container has cusomer versions of torch and torchvision: https://github.com/aws/sagemaker-pytorch-container/blob/master/docker/1.4.0/py3/Dockerfile.gpu